<template name="introduce">
				
	<!-- titleBar -->
	<div class="ui grid">
		<div class="mobile only sixteen wide column">
			<div id="titleBar">
				<span class="toggle" style="cursor: pointer;"></span>
				<span class="title" data-args="logo">
					<h1><a href="/Sign-In">Sign-In</a></h1>
				</span>
			</div>
		</div>
	</div>

  <div class="ui sidebar inverted vertical welcome menu" style="margin-top: 44px !important;">
    <a class="item active tour">
      Tour
    </a>
    <a class="item customer">
      Our customers
    </a>
    <a class="item pricing">
      Pricing
    </a>
  </div>
	<div class="pusher">
		<!-- Header -->
		<div id="header">
			<div class="ui grid container"> 
				<!-- Nav -->
				<div class="sixteen wide computer tablet only column">
					<div class="ui secondary welcome menu">
					  <a class="item tour active">
					    Tour
					  </a>
					  <a class="item customer">
					    Our customers
					  </a>
					  <a class="item pricing">
					    Pricing
					  </a>
					  <div class="right menu">
					    <div class="ui signin item">
					      <a href="/Sign-In"><div class="ui primary button" style="border-radius:4em; ">Sign-In</div></a>
					    </div>
					  </div>
					</div>
				</div>

				<!-- Logo -->
				<div id="logo" class="sixteen wide column">
					<h1>WAYS TO DO GREAT WORK</h1>
					<span class="tag">WE HELP PEOPLE...FIND BETTER</span>
				</div>
			</div>
		</div>

		{{> Template.dynamic template=panel }}

		<!-- Footer -->
		<div id="footer">
			<div class="ui grid container">
				<div class="sixteen wide column">
					<section>
						<header>
							<h2>ร่วมงานกับเรา</h2>
							<span class="byline">เพราะเราไม่ใช่แค่ให้บริการ แต่สามารถให้ความช่วยเหลือคุณได้</span>
						</header>
						<ul class="contact">
							<li>
								<a href="https://twitter.com/dvgamerinfo" target="_blank" class="fa fa-twitter"><span>Twitter</span></a>
							</li>
							<li class="active">
								<a href="https://www.facebook.com/dvgamer" target="_blank" class="fa fa-facebook"><span>Facebook</span></a>
							</li>
							<li>
								<a href="https://th.linkedin.com/in/kananek-thongkam-3a1775121" target="_blank" class="fa fa-linkedin"><span>LinkedIn</span></a>
							</li>
						</ul>
					</section>
					<hr>
				</div>

				<!-- Copyright -->
				<div id="copyright" class="ui grid container">
					<div class="sixteen wide column">
						<script>
						  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
						  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
						  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

						  ga('create', 'UA-81628893-2', 'auto');
						  ga('send', 'pageview');

						</script>
						Design: <a href="https://profile.touno-k.com">Touno-K.com</a> Power by NipponSysits Co.,Ltd.
					</div>	
				</div>
			</div>
		</div>
	</div>
</template>  