<template name="customer">
	<div id="main">
		<div class="ui stackable one column grid container"> 
			<div class="column">
				<h2 class="ui dividing header">Our Customer</h2>
			</div>
		</div>
		<div class="ui stackable four column grid container"> 
      {{#each ref}}
			<div class="column customers">
				<div class="ui comments">
				  <div class="comment">
						<a href="{{url}}" target="_blank" class="image"><img src="introduce/images/{{ImgNone logo}}" alt="{{name}}"></a>
				    <div class="content">
				      <a href="{{url}}" target="_blank" class="author">{{name}}</a>
			        <div class="join date">Join on {{created}}</div>
				      <div class="text">
				        <q>{{comment}}</q>
				      </div>
				    </div>
				  </div> 
			  </div> 
			</div>	
      {{/each}}
		</div>
	</div>
</template>