<template name="customer">
	<div id="main">
		<div class="ui stackable one column grid container"> 
			<div class="column">
				<h2 class="ui dividing header">Our Customer</h2>
			</div>
		</div>
		<div class="ui stackable four column grid container"> 

			<div class="column">
				<div class="ui comments">
					<a href="#" class="image full"><img src="introduce/images/" alt=""></a>
				  <div class="comment">
	 			    <div class="content">
				      <a class="author">Joe Henderson</a>
				      <div class="metadata">
				        <div class="date">1 day ago</div>
				      </div>
				      <div class="text">
				        <p></p>
				      </div>
				    </div>
				  </div> 
			  </div> 
			</div>	

		</div>
	</div>
</template>