<template name="tour">
	<!-- Featured -->
		<div id="featured">
			<div class="ui grid container"> 
				<div class="sixteen wide column">
					<h1 style="font-size:2rem">ระบบบริหารจัดการภายใน ทราวอกซ์ เอ็มบีโอเอส</h1>
					<p>ระบบ MBOS ออกแบบให้สามารถใช้งานได้ง่ายและ ระบบพยายามที่จะทำให้ขั้นตอนในการทำงานเริ่มตั้งแต่การจองไม่ว่าจะเป็น การจองตั๋วเครื่องบิน จองโรงแรม หรือจะเป็นบริการอื่น ๆ ของทางบริษัท จนกระทั่งการส่งข้อมูลไปยังแผนกบัญชีเพื่อออกเอกสารทางการเงินสั้น และง่ายที่สุดเท่าที่จะทำได้ จึงสามารถพูดได้ว่า ระบบ MBOS ทำให้การทำงาน ของคุณง่าย สะดวกขึ้น </p><p>ระบบจะทำการเปิด booking และส่ง e-mail รายละเอียดต่าง ๆ เช่น voucher, viewtrip, itinerary ให้กับลูกค้ารวมถึงการพิมพ์ใบ ตม. ให้กับลูกค้าเพื่อความสะดวกสบาย หลังจากนั้นระบบจะทำการส่งข้อมูล ไปยังแผนบัญชี อย่างง่ายดายด้วยการกด SEND เพียงปุ่มเดียวเท่านั้น </p>
				  <div class="ui divider"></div>
				</div>
			</div>
			<div class="ui stackable three column grid container">
				<div class="column">
					<span class="pennant"><span class="fa fa-globe"></span></span>
					<h3 class="ui header"><b>Reservation</b></h3> 
					<p>การใช้งานแค่ 3 click คุณก็สามารถ เปิด Booking ได้แล้ว มีระบบ Messaging มาให้ด้วย เพื่อความสะดวกในการคุยกัน ระหว่างแผนก สามารถเขียนข้อความลงใน Messaging และระบบยังเก็บข้อมูลที่ได้คุยกันไว้ให้อีกด้วย </p>
					<a href="/Pricing" class="button button-style1">Read More</a>
				</div>
				<div class="column">
					<span class="pennant"><span class="fa fa-lock"></span></span>
					<h3 class="ui header"><b>Accounting</b></h3>
					<p>ระบบเข้าใจระบบบัญชีของ Travel Agent ทำให้การออกเอกสารทางด้านบัญชีเป็นไปได้อย่างง่ายดาย เปลี่ยนแปลงได้ทุกส่วน รวมไปถึงการออกใบเสร็จรับเงินการออก Invoice ทำให้ลดปัญหาการ ยกเลิกเอกสาร</p>
					<a href="/Pricing" class="button button-style1">Read More</a>
				</div>
				<div class="column">
					<span class="pennant"><span class="fa fa-briefcase"></span></span>
					<h3 class="ui header"><b>Reporting</b></h3>
					<p>ระบบมีรายงานต่าง ๆ รวมแล้วไม่ต่ำกว่า 50 รายงานไม่ว่าจะเป็นในส่วยของ Operation และ ของ Account เองก็ตามซึ่งรายงาน ที่มีนั่นคลอบคลุมการใช้งานของ Travel Agent แล้ว แต่ถ้า Report ที่ยังไม่มีสามารถ ขอเพิ่มเติมได้</p>
					<a href="/Pricing" class="button button-style1">Read More</a>
				</div>
			</div>
		</div>

	<!-- Main -->
	<div id="main">
		<div class="ui stackable two column grid container"> 
				<section class="column">
					<a href="#" class="image full"><img src="introduce/images/pic01.jpg" alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>				
				<section class="column">
					<a href="#" class="image full"><img src="introduce/images/pic02.jpg" alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisqusse semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
				<section class="column">
					<a href="#" class="image full"><img src="introduce/images/pic03.jpg" alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>				
				<section class="column">
					<a href="#" class="image full"><img src="introduce/images/pic04.jpg" alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>
		</div>
	</div>

	<!-- Tweet -->
	<div id="tweet">
		<div class="ui grid container">
			<section>
				<blockquote>&ldquo;บริษัทฯ ของท่านกำลังเจอปัญหา การทำงานในแต่ละแผนกล้าช้า การทะเลาะกันระหว่างแผนกเนื่องมาจากการทำงานที่ผิดพลาดบ่อย ๆ หรือปัญหาต่าง ๆ ที่เกิดขึ้นดังต่อไปนี้ ผู้บริหารไม่สามารถดู รายงาน หรือข้อมูลการบริการ ได้อย่างที่ต้องการ&rdquo;</blockquote>
			</section>
		</div>
	</div>
</template>